/* line 1, ../../../Desktop/Personal page/portfolio-site/scss/_global.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 7, ../../../Desktop/Personal page/portfolio-site/scss/_global.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* line 13, ../../../Desktop/Personal page/portfolio-site/scss/_global.scss */
body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

/* line 20, ../../../Desktop/Personal page/portfolio-site/scss/_global.scss */
html {
  scroll-behavior: smooth;
}

/* line 1, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #8573e9;
  padding: 20px;
}

/* line 8, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar h1 {
  font-size: 2em;
  margin: 0;
}

/* line 13, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 20px;
}

/* line 19, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar a:hover {
  text-decoration: underline;
}

/* line 24, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar .social {
  margin-top: 50px;
}

/* line 27, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar .social a {
  margin-right: 10px;
  color: #333;
}

/* line 31, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar .social a:hover {
  color: #4d4d4d;
}

/* line 1, ../../../Desktop/Personal page/portfolio-site/scss/_global.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 7, ../../../Desktop/Personal page/portfolio-site/scss/_global.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* line 13, ../../../Desktop/Personal page/portfolio-site/scss/_global.scss */
body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

/* line 20, ../../../Desktop/Personal page/portfolio-site/scss/_global.scss */
html {
  scroll-behavior: smooth;
}

/* line 1, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #8573e9;
  padding: 20px;
}

/* line 8, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar h1 {
  font-size: 2em;
  margin: 0;
}

/* line 13, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 20px;
}

/* line 19, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar a:hover {
  text-decoration: underline;
}

/* line 24, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar .social {
  margin-top: 50px;
}

/* line 27, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar .social a {
  margin-right: 10px;
  color: #333;
}

/* line 31, ../../../Desktop/Personal page/portfolio-site/scss/_sidebar.scss */
.sidebar .social a:hover {
  color: #4d4d4d;
}

/* line 1, ../../../Desktop/Personal page/portfolio-site/scss/_portfolio.scss */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 6, ../../../Desktop/Personal page/portfolio-site/scss/_portfolio.scss */
.projects .project {
  width: 30%;
  margin-bottom: 20px;
  background: #fff;
  color: #000;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 14, ../../../Desktop/Personal page/portfolio-site/scss/_portfolio.scss */
.projects .project img {
  width: 100%;
  height: auto;
}

/* line 19, ../../../Desktop/Personal page/portfolio-site/scss/_portfolio.scss */
.projects .project a {
  color: #333;
  text-decoration: none;
}

/* line 23, ../../../Desktop/Personal page/portfolio-site/scss/_portfolio.scss */
.projects .project a:hover {
  text-decoration: underline;
}

/* line 1, ../../../Desktop/Personal page/portfolio-site/scss/_about.scss */
.header {
  text-align: center;
  padding: 100px 0;
}

/* line 5, ../../../Desktop/Personal page/portfolio-site/scss/_about.scss */
.header h1 {
  font-size: 3em;
  margin: 0;
}

/* line 10, ../../../Desktop/Personal page/portfolio-site/scss/_about.scss */
.header p {
  font-size: 1.5em;
}

/* line 1, ../../../Desktop/Personal page/portfolio-site/scss/_contact.scss */
.contact {
  background: #f4f4f4;
  padding: 20px;
  color: #333;
  margin-top: 20px;
}

/* line 7, ../../../Desktop/Personal page/portfolio-site/scss/_contact.scss */
.contact h2 {
  margin-top: 0;
}

/* line 11, ../../../Desktop/Personal page/portfolio-site/scss/_contact.scss */
.contact form {
  display: flex;
  flex-direction: column;
}

/* line 15, ../../../Desktop/Personal page/portfolio-site/scss/_contact.scss */
.contact form input,
.contact form textarea {
  margin-bottom: 10px;
  padding: 10px;
}

/* line 21, ../../../Desktop/Personal page/portfolio-site/scss/_contact.scss */
.contact form button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* line 28, ../../../Desktop/Personal page/portfolio-site/scss/_contact.scss */
.contact form button:hover {
  background: #1a1a1a;
}

/* line 20, ../../../Desktop/Personal page/portfolio-site/scss/main.scss */
body {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */