@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  font-family: $font-base;
  line-height: 1.6;
  color: $indigo-dye; // deep brand text colour
  background-color: $light-green-2; // subtle green background
}

html {
  scroll-behavior: smooth;
}

a {
  color: $bondi-blue;
  text-decoration: none;

  &:hover {
    color: $mindaro; // lime highlight
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: $lapis-lazuli; // strong contrast for headings
}
