// _variables.scss
$primary-color: #333;
$accent-color: #0077b6;
$light-color: #f9f9f9;
$dark-color: #111;
$sidebar-bg: #8573e9;
$background-color: #f4f4f4;

// Fonts
$font-base: "Roboto", Arial, sans-serif;

// Spacing scale
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 2rem;
$space-lg: 3rem;

// _variables.scss
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
